<!DOCTYPE html>
<html>
<head>
    <title>Add Marks</title>
</head>
<body>

    <h1>Add Marks</h1>
    <a href="/marks-records">
        View Marks Records
    </a>

<br><br>

    <form method="POST">

        <label>Student</label><br>

        <select name="student_id" required>

            {% for student in students %}

            <option value="{{ student.id }}">
                {{ student.roll_no }} - {{ student.name }}
            </option>

            {% endfor %}

        </select>

        <br><br>

        <label>Subject</label><br>

        <select name="subject" required>

            <option value="Python">Python</option>
            <option value="DBMS">DBMS</option>
            <option value="Java">Java</option>
            <option value="Web Development">Web Development</option>
            <option value="Data Structures">Data Structures</option>

        </select>

        <br><br>

        <label>Obtained Marks</label><br>

        <input
            type="number"
            name="obtained_marks"
            min="0"
            required
        >

        <br><br>

        <label>Total Marks</label><br>

        <input
            type="number"
            name="total_marks"
            min="1"
            required
        >

        <br><br>

        <button type="submit">
            Save Marks
        </button>

    </form>

</body>
</html>