<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
</head>
<body>

    <h1>Student Dashboard</h1>

    <h3>
        Welcome {{ user.name }}
    </h3>

    <hr>

    <h2>Student Services</h2>

    <a href="/my-attendance">
        View My Attendance
    </a>

    <br><br>

    <a href="/my-marks">
        View Marks
    </a>

    <br><br>

    <a href="/my-report-card">
        View Report Card
    </a>

    <br><br>

    <a href="/logout">
        Logout
    </a>

</body>
</html>